<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IHelpDriverBuddyService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://helpbuddy-001-site1.btempurl.com/HelpDriverBuddyService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHelpDriverBuddyService"
                contract="HelpDriverBuddyService.IHelpDriverBuddyService"
                name="BasicHttpBinding_IHelpDriverBuddyService" />
        </client>
    </system.serviceModel>
</configuration>