<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IHelpDriverBuddyService" />
                <binding name="BasicHttpBinding_IHelpDriverBuddyService1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://helpbuddy-001-site1.btempurl.com/HelpDriverBuddyService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHelpDriverBuddyService"
                contract="HelpDriverBuddyService.IHelpDriverBuddyService"
                name="BasicHttpBinding_IHelpDriverBuddyService" />
            <endpoint address="http://localhost:44973/HelpDriverBuddyService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHelpDriverBuddyService1"
                contract="ServiceReferenceTest.IHelpDriverBuddyService" name="BasicHttpBinding_IHelpDriverBuddyService1" />
        </client>
    </system.serviceModel>
</configuration>